<h3>Estas a 1 paso de restablecer tu Contraseña</h3>
<form action="/api/change-password" method="POST">
<input type="email" name="email" placeholder="Email" required>
<input type="number" name="token" id="token" placeholder="Codigo" required>
<input type="password" id="pass" name="pass" placeholder="Nueva contraseña" required>
<button type="submit">Restablecer</button>
</form>

{{#if error}}
<p>{{error}}</p>
{{/if}}


{{#if success}}
<p>Su contraseña ha sido modificada con éxito.</p>
<a href="/login">¿Deseas iniciar sesión?</a>
{{/if}}

{{#if message}}
<a href="/reset-password">{{message}}</a>
{{/if}}