<h3>Restablece tu contraseña</h3>
<form action="/api/reset-password" method="POST">
    <input type="text" id="email" name="email" placeholder="Ingresa tu correo" required>
    <button type="submit">Enviar código Restablecimiento</button>
</form>

{{#if error}}
<p>{{error}}</p>
{{/if}}
{{#if message}}
<p>{{message}}</p>
<a href="/change-password">Restablece tu contraseña</a>
{{/if}}